<div class="result-container">
  {{#if details.user.status}}
    <div>
      <span class="p-key">User Status: </span>
      <span class="p-value">{{details.user.status}}</span>
    </div>
  {{/if}}
  {{#if details.user.profile}}
    <h1 class="p-title">{{fa-icon "user" fixedWidth=true}} User Profile: </h1>
    {{#if details.user.profile.firstName}}
      <div>
        <span class="p-key">First Name: </span>
        <span class="p-value">{{details.user.profile.firstName}}</span>
      </div>
    {{/if}}
    {{#if details.user.profile.lastName}}
      <div>
        <span class="p-key">Last Name: </span>
        <span class="p-value">{{details.user.profile.lastName}}</span>
      </div>
    {{/if}}
    {{#if details.user.profile.mobilePhone}}
      <div>
        <span class="p-key">Mobile Phone: </span>
        <span class="p-value">{{details.user.profile.mobilePhone}}</span>
      </div>
    {{/if}}
    {{#if details.user.profile.email}}
      <div>
        <span class="p-key">Email: </span>
        <span class="p-value">{{details.user.profile.email}}</span>
      </div>
    {{/if}}
    {{#if details.user.profile.secondEmail}}
      <div>
        <span class="p-key">Second Email: </span>
        <span class="p-value">{{details.user.profile.secondEmail}}</span>
      </div>
    {{/if}}
    {{#if details.user.profile.login}}
      <div>
        <span class="p-key">Login: </span>
        <span class="p-value">{{details.user.profile.login}}</span>
      </div>
    {{/if}}
    {{#if details.user.lastLogin}}
      <div>
        <span class="p-key">Last Login: </span>
        <span class="p-value">{{moment-format
            details.user.lastLogin
            "YYYY-MM-DD HH:mm:ss UTC"
          }}</span>
      </div>
    {{/if}}
    {{#if details.user.activated}}
      <div>
        <span class="p-key">Activated: </span>
        <span class="p-value">{{moment-format
            details.user.activated
            "YYYY-MM-DD HH:mm:ss UTC"
          }}</span>
      </div>
    {{/if}}
    {{#if details.user.statusChanged}}
      <div>
        <span class="p-key">Status Changed: </span>
        <span class="p-value">{{moment-format
            details.user.statusChanged
            "YYYY-MM-DD HH:mm:ss UTC"
          }}</span>
      </div>
    {{/if}}
    {{#if details.user.passwordChanged}}
      <div>
        <span class="p-key">Pass. Changed: </span>
        <span class="p-value">{{moment-format
            details.user.passwordChanged
            "YYYY-MM-DD HH:mm:ss UTC"
          }}</span>
      </div>
    {{/if}}
  {{/if}}
  {{#if details.userGroup}}
    <h1 class="p-title">{{fa-icon "layer-group" fixedWidth=true}} User Group: </h1>
    {{#each details.userGroup as |group|}}
      <div>
        <span class="p-key">Profile Name: </span>
        <span class="p-value">{{group.profile.name}}</span>
      </div>
      <div>
        <span class="p-key">Description: </span>
        <span class="p-value">{{group.profile.description}}</span>
      </div>

      {{#if group.created}}
        <div>
          <span class="p-key">Group Created: </span>
          <span class="p-value">{{moment-format
              group.created
              "YYYY-MM-DD HH:mm:ss UTC"
            }}</span>
        </div>
      {{/if}}
      {{#if group.lastMembershipUpdated}}
        <div>
          <span class="p-key">Last Membership Update: </span>
          <span class="p-value">{{moment-format
              group.lastMembershipUpdated
              "YYYY-MM-DD HH:mm:ss UTC"
            }}</span>
        </div>
      {{/if}}
      {{#if group.lastUpdated}}
        <div>
          <span class="p-key">Last Updated: </span>
          <span class="p-value">{{moment-format
              group.lastUpdated
              "YYYY-MM-DD HH:mm:ss UTC"
            }}</span>
        </div>
      {{/if}}
    {{/each}}
  {{/if}}
</div>